<h1>Articles</h1>

<%# TODO: Change link %>
<p><%= link_to 'Index', @article %></p>

<%= render 'form', article: @article %>


<!--<form action='/articles' method='POST'>-->
<!--  <input type='hidden' value='<%#= form_authenticity_token %>' name='authenticity_token'></input>-->
<!--  <input type='text' name='article[title]'></input>-->
<!--  <input type='text' name='article[content]'></input>-->
<!--  <input type='submit'></input>-->
<!--</form>-->
